[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pylint = "*"
pyinstaller = "*"

[packages]
ping3 = "*"
pyqt5 = "*"
sip = "*"

[requires]
python_version = "3.7"
